body {
  background-color: white;
  font-family: helvetica;
  }
div {
  position: absolute;
  }
  
.layout {
  border: 1px dashed red;
  }
    
header {
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 40px;
  z-index: 100;
  }
  
#logo {
  font-family: "American Typewriter";
  font-size: 24pt;
  color: black;
  }
  
#logo > span {
  color: blue;
  }
  
#entryForm {
  right: 50px;
  top: 0;
  bottom: 0;
  }
  
#newTerm {
  width: 250px;
  height: 25px;
  margin-top: 2px;
  }
  
#theList {
  margin: 0;
  position: absolute;
  top: 40px; left: 0; right: 0;
  padding: 10px;
  }

dt {
  display: block;
  position: relative;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  text-align: middle;
  }
              
dt.active {
  background-color: rgba(0,0,0,0.1);
  }
                  
dd {
    display: block;
  position: relative;
  line-height: 26px;
  min-height: 26px;
  margin-bottom:5px;
  }
dd textarea{
    resize: none;
  position: absolute;
  height: 26px;
  left: 0; top: 0; right: 70px;
}
dd button{
  position: absolute;
  cursor: pointer;
  top: 0; bottom: 0; right: 0; width: 60px;
  }
      
.define-button {
  cursor: pointer;
  position: absolute;
  right: 0;
  width: 120px;
  top: 0;
  bottom: 0;
  }
